.dashboard-container {
  padding: 0;
  background: #f5f6fa;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
}

/* TITULO */
.dashboard-title {
  margin-bottom: 30px;
  color: #333;
}

/* CARD */
.dashboard-card {
  
  background: white;
  padding: 50px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 100%;     
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}

.dashboard-card h2 {
  font-size: 22px;
  margin-bottom: 10px;
  word-break: keep-all;
}

.dashboard-card p {
  font-size: 32px;
  color: #0088FE;
  font-weight: bold;
}

/* GRAFICO */
.chart-container {
  background: white;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.chart-box {
  width: 100%;
  height: 450px;
}