/* src/style/Dashboard.css */

.dashboard-container {
  padding: 30px;
  background-color: #f5f6fa;
  min-height: 100vh;
  display: block;
  flex-direction: column;
  gap: 40px;
 
}

.dashboard-container h1 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
    margin-right: 120vh;
    font-size: 28px;
}

/* Cards de totais */
.cards-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap; 
  margin: 50px;
}

.card {
  flex: 1 1 350px; /* mínimo 350px, cresce conforme espaço */
  max-width: 400px;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.card p {
  font-size: 32px;
  font-weight: bold;
  color: #0088FE;
}

/* Gráfico */
.chart-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 1000px; /* largura máxima em desktops */
  margin: 0 auto;    /* centraliza */
}

.chart-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #555;
}

/* Responsividade */
@media (max-width: 768px) {
  .dashboard-container {
  padding: 20px;
  background-color: #f5f6fa;
  min-height: 100vh;
  display: block;
  gap: 20px;
 
}


  .dashboard-container h1 {
    text-align: center;
    font-size: 24px; /* um pouco menor para caber bem */
    margin-bottom: 15px;
  }



/* Cards de totais */
.cards-container {

  display: block;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 100%;
}

.card {
  
  margin: 20px auto 50px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.card p {
  font-size: 20px;
  font-weight: bold;
  color: #0088FE;
  
}

/* Gráfico */
.chart-container {

  background: #ffffff;
  display: block;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 750px;
  width: 100%;
  
}

.chart-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #555;
}
}
